body {
    padding-left: 50px;
}

h1 a,h2 a{
    
    background-color: darkblue;
    color:#C25100;
    font-family: 'Lobster';
}

h4 a{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
}

.ptitle
{
    background-color:pink;
}

.contents
{
    background-color: darkred;
}

.post
{
    background-color: darkred;
}


